# Credentials WiFi (ne jamais versionner)
**/credentials.h

# Token API PRIM (ne jamais versionner)
**/prim_config.h

# Arduino CLI (binaire)
bin/

# Build Arduino
build/
*.elf
*.bin
*.hex

# Doc du constructeur
# http://pan.jczn1688.com/directlink/1/HMI%20display/JC3248W535EN.zip
JC3248W535EN/
